%roboto-reg{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%roboto-bold{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%arial-reg{
    font-family: 'Arial-Regular', sans-serif;
    font-weight: 400;
}

%arial-bold{
    font-family: 'Arial-Bold', sans-serif;
    font-weight: 700;
}

%accent-color{
  color: #006c86;
} 

%text-color{
    color: #333;
}

